/*Fonts*/
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
         url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff');
  }
 
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
         url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'),
         url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff');
  }
/*colors*/
:root {
--basic-light-black: #231F20;
--basic-black: #000000;
--basic-light-blue: #81B3D2;
--basic-extra-light-brown: #A9A9A9;
--basic-white: #FFFFFF;
--basic-blue: #669EC0;
--basic-dark-blue: #5496BD;
--basic-light-brown: #766357;
--basic-brown: #604E43;
--basic-dark-brown: #503E33;
--basic-extralight-gray: #F2F2F2;
--basic-light-gray: #EBEBEB;
--basic-dark-gray: #666666;
--basic-verygray: #CACACA;
--basic-gray: #eeeeee;
--basic-feature-brown: #333333;
--basic-light-white: rgba(255, 255, 255, 0.9);
--basic-extra-light-white:  rgba(255,255,255, 0.3);
--basic-extra-light-black:  rgba(0,0,0, 0.3);
--basic-extra-light-black-logo: rgba(35,31,32, 0.3);
--basic-border-hotel-gray: #e5e5e5;
  }

/*Global*/

body {
    min-width: 1200px;
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-repeat: no-repeat;
    text-transform: uppercase;
    background-position: 50% 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.page {
    height: 100%;
}



/*Header*/

.main-header{
    background-color: var(--basic-white);
    
}
.main-navigation {
    position: relative;
    font-weight: bold;
}
.site-navigation {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    wrap: 4;
    margin: 17px 0;
    padding-left: 73px;
    padding-right: 73px;
}

.site-navigation li{
    width: 20%;
}

.nav-item {
    color: var(--basic-black);   
}
.nav-item:hover {
    color: var(--basic-light-blue)
}
.nav-item:focus {
    color: var(--basic-extra-light-black)
}
.main-header-logo {
     position: absolute;
     left: 50%;
     margin-left: -69px;
     top: -17px;;
}

.site-navigation li:nth-child(4n+1) {
   text-align: start;
   
}

.site-navigation li:nth-child(4n+2) {
    text-align: start;
    padding-left: 17px;
    margin-right: auto;
}

.site-navigation li:nth-child(4n+3) {
    text-align: end;
    padding-right: 15px;;
    
    
}

.site-navigation li:nth-child(4n+4) {
    text-align: end;;
    
}


/*main tittle page*/

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 30px var(--basic-extra-light-black);
}
.main-logo-container {
    text-align: center;
}
.main-site-logo {
    margin: 0 auto;
    background-color: var(--basic-gray);
}


.intro-features {
    margin: 42px auto 54px;
    max-width: 520px;
    background-color: var(--basic-white);
    color: var(--basic-feature-brown);
    text-align: center;
    
    
}
.intro-features-h {
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
    line-height: 26px;
    margin-bottom: 45px;
}

.first-feature {
    display: grid;
    max-height: 256px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    line-height: 21px;
    grid-template-columns: 1fr 2fr;
}
.first-feature h3 {
    width: 200px;
    margin: 45px auto 0;
    font-size: 21px;
    font-weight: bold;
}

.first-feature-block1 {
    max-width: 300px;
    text-align: center;
    justify-self: center;

}
.number-feature {
    margin: 25px 0;
}


.first-feature-items {
    display: grid;
    height: 331px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--basic-white);
    color: var(--basic-feature-brown);
    line-height: 21px;
    text-align:  center;
}

.first-feature-items div{
    width: 300px;
    justify-self: center;
    align-self: end;
    padding-bottom: 82px;
}

.housing p {
    margin-bottom: 0;
    margin-top: 26px;
}

.food p {
    margin-bottom: 0;
    margin-top: 26px;
}

.souvenir {
    margin-bottom: 0;
    margin-top: 26px;
}

.first-feature-items h3 {
    width: 200px;
    margin: 0 auto;
    font-size: 21px;
    color: var(--basic-black);
    font-weight: bold;
}

.second-feature {
    display: grid;
    max-height: 256px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    line-height: 21px;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}
.second-feature h3 {
    width: 200px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
}
.brige-text-block {
    max-width: 300px;
    text-align: center;
    justify-self: center;
}

.brige-text-block {
    max-width: 300px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.other-features {
    display: grid;
    background-color: var(--basic-gray);
    color: var(--basic-feature-brown);
    line-height: 21px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.other-features h3{
    width: 150px;
    font-size: 21px;
    font-weight: bold;
    color: var(--basic-black);
    margin: 47px auto 0;
}

.other-features div{
max-width: 265px;
justify-self: center;
padding-bottom: 40px;
}

.booking {
    background-color: var(--basic-white);
    color: var(--basic-feature-brown);
    line-height: 24px;
    text-align: center;
}
.booking-qestion {
    color: var(--basic-black);
    font-size: 30px;
    font-weight: bold;
    
}
.button-booking {
    background-color: var(--basic-light-brown);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    height: 86px;
    font-weight: bold;
}
.button-booking:hover {
    background-color: var(--basic-brown);
}

.button-booking:focus {
    background-color: var(--basic-dark-brown);
    color: var(--basic-extra-light-white);
}


.map-position {
    position: relative;
    height: 473px;
    background-color: transparent;
}

.map img {
    position: absolute;
    top: 0;
    z-index: -1;
}

/*footer*/ 

.main-footer {
    display: grid;
    background-color: var(--basic-light-white);
    grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
    width: 260px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    justify-self: center;
}

.phone {
    color: var(--basic-black)
}
.social {
    width: 150px;
    text-align: center;
    justify-self: center;
}

.social ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.social-item {
    color: var(--basic-light-blue);
    margin-right: 6px;
    
}

.social-item:hover {
    color: var(--basic-blue)
}

.social-item:focus {
    color: var(--basic-dark-blue)
}

.developer {
    max-width:200px;
    color: var(--basic-feature-brown);
    line-height: 26px;
    text-align: center;
    justify-self: center;
}

.developer a {
    color: var(--basic-light-black);
    vertical-align: middle;
}

.developer a:hover {
    color: var(--basic-light-blue)
}

.developer a:focus {
    color: var(--basic-extra-light-black-logo)
}

.active-page {
color: var(--basic-light-brown)
}

/*hotels*/

.search-filters {
   display: grid;
   grid-template-columns: 25% 25% 50%;
}

.search-filters h3 {
    font-size: 16px;
    color: var(--basic-white);
    font-weight: bold;
}
.search-results {
    background-color: var(--basic-white);
}

.sort-panel {
    display: flex;
    padding: 29px 73px 31px;
}

.search-quantity{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 141px;
    margin-right: 22px;
}
.sorting {
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;
}
.sorting-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 auto 0 0;
    padding: 0;
}

.sort-button {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-extra-light-black);
    border: none;
    border-bottom: 1px dotted var(--basic-extra-light-black);
    background-color: var(--basic-white);
    text-transform: uppercase;
    margin-right: 32px;
}
.sort-button:hover {
    color: var(--basic-light-blue);
    border-bottom: 1px dotted var(--basic-light-blue);
}

.sort-button:active {
    color: var(--basic-black);
    border-bottom: 1px dotted transparent;;
}

.active-sort-button{
    color: var(--basic-light-blue);
    border-bottom: 1px dotted transparent;;
}

.progress-button {
    color: var(--basic-verygray);
    
}

.progress-button:hover {
    color: var(--basic-black);
}
.progress-button:focus {
    color: var(--basic-light-blue);
}

.active-progress-button {
    color: var(--basic-light-blue);
    
}
.found-hotels {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.hotel{
    display: grid;
    grid-template-columns: 135px 783px 110px;
    border-top: 1px solid var(--basic-border-hotel-gray);
    padding: 23px 73px 30px;
    grid-column-gap: 29px;
}

.hotel:last-child {
    border-bottom: 1px solid var(--basic-border-hotel-gray);
}

.hotel img {
    margin-top: 7px;
}


.name-hotel {
    font-weight: bold;
    width: 300px;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);   
}
.name-hotel:hover {
    color: var(--basic-light-blue);
}

.name-hotel:focus {
    color: var(--basic-extra-light-black);
}


.type, .price{
    color: var(--basic-feature-brown);
    margin: 7px 3px 19px 0px;
   display: inline-block;
   width: 110px;
}

.details{
    font-weight: bold;
    color: var(--basic-white);
    width: 110px;
    height: 27px;
    background-color: var(--basic-light-blue);
    padding: 3px 16px;
    margin-right: 3px;
}
.details:hover {
    background-color: var(--basic-blue);
}
.details:focus {
    background-color: var(--basic-dark-blue);
    color: var(--basic-extra-light-white);
}

.to-book {
    font-weight: bold;
    color: var(--basic-white);
    width: 142px;
    height: 27px;
    background-color: var(--basic-light-brown);
    padding: 3px 16px;
   
}

.to-book:hover {
    background-color: var(--basic-brown);
}

.to-book:focus {
    background-color: var(--basic-dark-brown);
    color: var(--basic-extra-light-white);
}
.hotel div:last-child {
display: grid;
}
.stars {
    color: var(--basic-light-blue);
    margin-top: 3px;
    text-align: end;
    align-self: start;
}
.rating {
    margin-bottom: 0px;
    color: var(--basic-dark-gray);
    width: 110px;
    height: 27px;
    background-color: var(--basic-extralight-gray);
    text-align: center;
    align-self: end;
}